.container-header {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  max-height: 800px;
  width: 100%;
  box-shadow: 0px 0px 10px var(--preto);
  position: relative;
  z-index: 1;

}



.container-header figure {
  display: flex;
  align-items: center;
  justify-content: center;


}

.container-header figure img {
  max-width: 222px;
  width: 100%;
  padding: 20px 0 30px 0;

}



.container-header figure img a {
  max-width: 222px;
  max-height: 76px;

}

.container-header nav {
  display: flex;
  align-items: center;
  justify-content: center;

}

.container-header nav li {
  padding: 0 0 35px 0;
  list-style: none;
  text-align: center;

}





.container-header nav li a {
  text-decoration: none;
  color: var(--preto);
  font-style: italic;
  font-weight: 800;

  opacity: 0;
  transition: opacity 1s ease;


}

.visivel {
  opacity: 1 !important;
}

.container-header nav li a:hover {
  color: var(--cinza);
}



@media (min-width: 700px) {



  .container-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 132px;
  }

  .container-header figure {
    margin-left: 195px;
  }

  .container-header figure img {
    max-width: 222px;
    max-height: 76px;
    width: 100%;
    padding: 0 0 0 0;

  }

  .container-header nav ul {
    display: flex;
    margin-left: 605px;
    gap: 150px;

  }

  .container-header nav ul li {
    padding: 0 0 0 0;
  }
}