.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 1920 px;
  max-height: 132px;
  font-size: 10px;
  box-shadow: 0px 2px 3px #ccc;
  padding: 40px;
  position: relative;
  z-index: 1;

}

.container div {
  margin-left: 195px;
}

.container nav ul {
  display: flex;
  gap: 150px;
  margin-right: 189px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2em;
  color: #000;
  font-weight: bold;
  font-style: italic;
}

a:hover {
  color: #797979;
}

@media (max-width: 780px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    max-height: 381px;
    font-size: 10px;
    box-shadow: 0px 2px 3px #ccc;
    gap: 35px;
  }



  .container nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 0;
  }



  .container div {
    margin-left: 0;
  }




}