.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 162px;
  max-width: 1920px;
  max-height: 162px;
  margin-top: 192px;
  box-shadow: 0px 0px 5px 3px #ccc;
}

.container-footer p {
  font-size: 32px;
}