.container-h2 {
  display: flex;
  justify-content: center;
  margin: 161px 0;


}

.container-h2 h2 {
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: 608px;
  grid-template-columns: repeat(2, 433px);
  transition: transform 0.3s ease;

  gap: 155px;
}

.grid figure img {
  width: 100%;
  height: 100%;
  max-width: 392px;
  max-height: 343px;
}



.grid div h2 {
  font-size: 30px;
  font-weight: bold;
}

.grid div {

  display: flex;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 4px #ccc;

}

.grid div:hover {
  transform: scale(1.1)
}

@media (max-width: 780px) {

  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 296px);
    gap: 106px;


  }

  .grid figure img {
    width: 100%;
    height: 100%;
    max-width: 268px;
    max-height: 225px;
  }

  .grid div h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .grid div p {
    font-size: 12px;

  }
}