.h2 {
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
  margin: 210px 0px;
  display: flex;
  justify-content: center;
}




.container-conteudo {
  display: grid;
  grid-template-columns: repeat(2, minmax(720px, 678px));
  grid-template-rows: 637px;
  justify-content: center;
  gap: 250px;

}


.container-conteudo h2 {
  font-size: 36px;
  font-weight: bold;
}


.container-conteudo div {
  border-radius: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  box-shadow: 1px 1px 10px 5px #ccc;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  max-width: 561px;
  height: 162px;
  border-radius: 10px;
  outline: none;
}

input {
  border: 1px solid #e7e7e7;
  width: 561px;
  height: 66px;
  border-radius: 10px;
  outline: none;
}

input:focus {
  border: 1px solid #797979;
}

input::placeholder {
  font-size: 20px;
}

textarea::placeholder {
  font-size: 20px;
}

button {
  width: 225px;
  height: 61px;
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  background: black;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #ccc;
  color: black;

}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;


}

.contato h2 {
  font-size: 30px;
  font-weight: bold;

}

.contato p {
  font-size: 20px;
}

.contato div {
  display: flex;
  gap: 49px;
}

@media (max-width: 780px) {


  .h2 {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    margin: 65px 0px;
    display: flex;
    justify-content: center;
  }

  .container-conteudo {
    display: grid;
    grid-template-columns: repeat(1, 330px);
    grid-template-rows: 329px;
    justify-content: center;
    gap: 30px;

  }


  .container-conteudo h2 {
    font-size: 20px;
    font-weight: bold;
  }


  .container-conteudo div {

    border-radius: 15px;


  }

  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    margin-top: 50px;
    box-shadow: 1px 1px 10px 5px #ccc;
    padding: 20px 0;
  }

  .formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;

  }

  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    max-width: 257px;
    height: 73px;
    border-radius: 10px;
    outline: none;
  }

  input {
    border: 1px solid #e7e7e7;
    width: 258px;
    height: 29px;
    border-radius: 10px;
    outline: none;
  }

  input:focus {
    border: 1px solid #797979;
  }

  input::placeholder {
    font-size: 20px;
  }

  textarea::placeholder {
    font-size: 20px;
  }

  button {
    width: 88px;
    height: 24px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    background: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background: #ccc;
    color: black;

  }

  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


  }

  .contato h2 {
    font-size: 18px;
    font-weight: bold;

  }

  .contato p {
    font-size: 14px;
  }

  .contato div {
    display: flex;
    gap: 49px;
  }

}