.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  background-size: 100% 100%;
}

@media(max-width: 700px) {
  #carouselExampleControls {
    display: none;
  }
}