.container-img {
  display: flex;
  justify-content: center;
  margin: 9.3em 0;
}


.container-conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  max-width: 1164px;
  max-height: auto;
  flex-wrap: wrap;
  gap: 30px;
  box-shadow: 0 1px 4px 2px #ccc;
  padding: 30px;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.containerVisivel {
  opacity: 1;
}


.container-img figure img {
  width: 259px;
}

.container-conteudo div:nth-child(1) {
  width: 100%;
  height: 100%;
  max-width: 551px;
  max-height: 367px;
}

.container-conteudo div:nth-child(2) {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 367px;
}

.container-conteudo div:nth-child(3) {

  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.container-conteudo div figure img {
  width: 100%;
  max-width: 551px;
}

.container-conteudo p {
  font-size: 2.8em;
}


@media (max-width:780px) {
  .container-conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    max-width: 353px;
    max-height: auto;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 1px 4px 2px #ccc;
    padding: 30px;
  }


  .container-conteudo div figure img {
    max-width: 279px;
    max-height: 186pxm;
  }

  .container-conteudo p {
    font-size: 16px;
  }

  .container-conteudo div:nth-child(1) {
    max-width: 279px;
    max-height: 186px;
  }

  .container-conteudo div:nth-child(2) {

    width: 287px;
    height: auto;
  }

  .container-conteudo div:nth-child(3) {
    font-size: 12px;
  }



}